<div class="d-flex align-items-center" style="height:400px;width:100%;background-color:cadetblue">

	<div style="width:100%">
		<h2 class="text-center text-white fw-bold">Task Manager</h2>
		<h4 class="text-center text-white fw-light">Manage your tasks</h4>
		<div  class="d-flex mt-3 justify-content-center">
			<a asp-controller="Task" asp-action="Index" class="btn btn-secondary text-black bg-white">Go To Your Tasks</a>
		</div>
	</div>
</div>